products/swarmz/n8n-workflows/workflow-license-disk-scan.json
{
  "id": "sz-license-disk-scan",
  "name": "Swarmz - License Disk Scan (Gemini Vision)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sz-license-disk-scan",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "sz-ld-0001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "sz-license-disk-scan"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst { file_data, mime_type, filename } = body;\n\nif (!file_data) {\n  throw new Error('No file_data provided');\n}\n\nconst buffer = Buffer.from(file_data, 'base64');\nconst binary = await this.helpers.prepareBinaryData(\n  buffer,\n  filename || 'license-disk.jpg',\n  mime_type || 'image/jpeg'\n);\n\nreturn {\n  json: { filename, mime_type, sizeBytes: buffer.length },\n  binary: { data: binary }\n};"
      },
      "id": "sz-ld-0002",
      "name": "Convert to Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "resource": "document",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "You are a South African vehicle license disk (LISENSIESKYF) reader. Extract ALL details from this license disk photo.\n\nA SA license disk has these labeled fields:\n- NO. = eNatis number (e.g. 4011002B1XW8)\n- Licence no. / Lisensienr. = LICENSE PLATE number (e.g. KFD780NW, CA456789)\n- Veh. register no. / Vrt.registernr. = Vehicle register number (e.g. JYH913S)\n- VIN = Chassis/VIN number\n- Engine no. / Enjinnr. = Engine number\n- Make = Manufacturer\n- Description = Body type (e.g. Station wagon, SUV, Sedan)\n- Tare/Tarra = Tare mass in kg\n- GVM/BVM = Gross vehicle mass in kg\n- Date of test / Datum van toets = First registration date\n- Persons / Persone = Seating capacity\n- Date of expiry / Vervaldatum = License expiry date\n\nReturn ONLY valid JSON with this exact structure:\n{\n  \"registration\": \"The value from 'Licence no. / Lisensienr.' field — this is the LICENSE PLATE number\",\n  \"vehicleRegNumber\": \"The value from 'Veh. register no. / Vrt.registernr.' field\",\n  \"eNatisNumber\": \"The value from 'NO.' field at the top\",\n  \"make\": \"vehicle manufacturer from 'Make' field (e.g. Land Rover, Toyota)\",\n  \"model\": \"If you can determine the actual model (e.g. Discovery 4, Hilux) from context, put it here. Otherwise empty string.\",\n  \"bodyType\": \"The value from 'Description' field (e.g. Station wagon, SUV, Sedan)\",\n  \"year\": year as number from the Date of test field,\n  \"vin\": \"VIN number\",\n  \"engineNumber\": \"Engine number\",\n  \"color\": \"vehicle color if visible, otherwise empty string\",\n  \"tareMass\": tare mass number from Tare/Tarra field or null,\n  \"gvm\": gross vehicle mass number from GVM/BVM field or null,\n  \"seatingCapacity\": number of persons (seated) or null,\n  \"expiryDate\": \"expiry date in YYYY-MM-DD format from Date of expiry field\",\n  \"firstRegistrationDate\": \"date in YYYY-MM-DD format from Date of test field\",\n  \"confidence\": \"high\" or \"medium\" or \"low\"\n}\n\nRules:\n- CRITICAL: 'registration' MUST come from the 'Licence no. / Lisensienr.' field, NOT from 'NO.' or 'Veh. register no.'\n- The 'Description' field contains body type (Station wagon, SUV) — put this in bodyType, NOT in model\n- For model, try to determine it from make + VIN prefix + context (e.g. SALL prefix + Land Rover = Discovery)\n- Read ALL text carefully, license disks can be worn/faded\n- Return ONLY the JSON, no markdown, no explanation",
        "inputType": "binary",
        "binaryPropertyName": "data",
        "simplifyOutput": true,
        "options": {}
      },
      "id": "sz-ld-0003",
      "name": "Gemini Vision",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [680, 300],
      "credentials": {
        "googlePalmApi": {
          "id": "EvKtWixbMXBZfXjW",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = items[0].json;\n\n// With simplifyOutput, Gemini may return the text directly or nested\nlet text = '';\nif (typeof response === 'string') {\n  text = response;\n} else if (typeof response.text === 'string') {\n  text = response.text;\n} else if (typeof response.output === 'string') {\n  text = response.output;\n} else if (typeof response.content === 'string') {\n  text = response.content;\n} else if (response.content && response.content.parts && response.content.parts.length > 0) {\n  text = String(response.content.parts[0].text || '');\n} else if (response.candidates && response.candidates.length > 0) {\n  const parts = response.candidates[0].content.parts;\n  if (parts && parts.length > 0) text = String(parts[0].text || '');\n} else {\n  // Maybe the response IS the parsed object already\n  if (response.registration || response.make || response.vin) {\n    return [{ json: {\n      registration: response.registration || '',\n      eNatisRegNumber: response.eNatisRegNumber || '',\n      make: response.make || '',\n      model: response.model || '',\n      bodyType: response.bodyType || '',\n      year: response.year || null,\n      vin: response.vin || '',\n      engineNumber: response.engineNumber || '',\n      color: response.color || '',\n      tareMass: response.tareMass || null,\n      expiryDate: response.expiryDate || null,\n      firstRegistrationDate: response.firstRegistrationDate || null,\n      ownerName: response.ownerName || '',\n      confidence: response.confidence || 'medium'\n    } }];\n  }\n  text = JSON.stringify(response);\n}\n\nif (!text) {\n  return [{ json: { error: 'AI could not read the license disk. Please try a clearer photo.' } }];\n}\n\nlet jsonStr = text.trim();\nif (jsonStr.startsWith('```')) {\n  jsonStr = jsonStr.replace(/^```(?:json)?\\n?/, '').replace(/\\n?```$/, '');\n}\n\nconst firstBrace = jsonStr.indexOf('{');\nif (firstBrace > 0) jsonStr = jsonStr.substring(firstBrace);\nif (!jsonStr.endsWith('}')) {\n  const lastBrace = jsonStr.lastIndexOf('}');\n  if (lastBrace > 0) jsonStr = jsonStr.substring(0, lastBrace + 1);\n}\n\ntry {\n  const parsed = JSON.parse(jsonStr);\n  return [{ json: {\n    registration: parsed.registration || '',\n    vehicleRegNumber: parsed.vehicleRegNumber || '',\n    eNatisNumber: parsed.eNatisNumber || '',\n    make: parsed.make || '',\n    model: parsed.model || '',\n    bodyType: parsed.bodyType || '',\n    year: parsed.year || null,\n    vin: parsed.vin || '',\n    engineNumber: parsed.engineNumber || '',\n    color: parsed.color || '',\n    tareMass: parsed.tareMass || null,\n    gvm: parsed.gvm || null,\n    seatingCapacity: parsed.seatingCapacity || null,\n    expiryDate: parsed.expiryDate || null,\n    firstRegistrationDate: parsed.firstRegistrationDate || null,\n    confidence: parsed.confidence || 'medium'\n  } }];\n} catch (e) {\n  return [{ json: { error: 'AI response was not valid JSON. Please try again with a clearer photo.', raw: String(text) } }];\n}"
      },
      "id": "sz-ld-0004",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "sz-ld-0005",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Convert to Binary", "type": "main", "index": 0 }]]
    },
    "Convert to Binary": {
      "main": [[{ "node": "Gemini Vision", "type": "main", "index": 0 }]]
    },
    "Gemini Vision": {
      "main": [[{ "node": "Parse Response", "type": "main", "index": 0 }]]
    },
    "Parse Response": {
      "main": [[{ "node": "Response", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [{ "name": "swarmz" }]
}
