products/beegraded/n8n-workflows/_archive_v1/workflow-rubric-upload.json
{
  "name": "BeeGraded - Rubric Upload",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bg-rubric-upload",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "h1000001-0001-0001-0001-000000000001",
      "name": "Webhook Rubric Upload",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "bg-rubric-upload"
    },
    {
      "parameters": {
        "functionCode": "const body = items[0].json.body || items[0].json;\n\nconst tokenCode = (body.token_code || '').trim();\nconst binaryKey = Object.keys(items[0].binary || {})[0] || 'file';\nconst filename = (items[0].binary && items[0].binary[binaryKey]) ? items[0].binary[binaryKey].fileName || 'rubric.pdf' : 'rubric.pdf';\n\nreturn [{\n  json: {\n    token_code: tokenCode,\n    filename,\n    binaryKey\n  },\n  binary: items[0].binary\n}];"
      },
      "id": "h1000001-0001-0001-0001-000000000002",
      "name": "Parse Form Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ \"SELECT id, code, email, status FROM tokens WHERE code = '\" + $json.token_code.replace(/'/g, '') + \"' AND status = 'active' LIMIT 1;\" }}",
        "additionalFields": {}
      },
      "id": "h1000001-0001-0001-0001-000000000003",
      "name": "Validate Token",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [680, 300],
      "credentials": {
        "postgres": {
          "id": "RwGl9RX2FyWfj4I7",
          "name": "BeeGraded Postgres"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.id }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "h1000001-0001-0001-0001-000000000004",
      "name": "Token Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: 'Invalid or inactive token' }) }}",
        "options": {
          "responseCode": 403
        }
      },
      "id": "h1000001-0001-0001-0001-000000000005",
      "name": "Respond Invalid Token",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 420]
    },
    {
      "parameters": {
        "url": "http://beegraded-api:5001/extract-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "={{ $node['Parse Form Data'].json.binaryKey }}"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "h1000001-0001-0001-0001-000000000006",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "functionCode": "const extractedText = items[0].json.text || items[0].json.paper_text || '';\n\nreturn [{\n  json: {\n    rubric_text: extractedText,\n    token_id: $node['Validate Token'].json.id,\n    token_code: $node['Parse Form Data'].json.token_code,\n    filename: $node['Parse Form Data'].json.filename\n  }\n}];"
      },
      "id": "h1000001-0001-0001-0001-000000000007",
      "name": "Prepare Claude Prompt",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "REDACTED_API_KEY"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "claude-haiku-4-5-20251001"
            },
            {
              "name": "max_tokens",
              "value": "4096"
            },
            {
              "name": "messages",
              "value": "={{ JSON.stringify([{ role: 'user', content: 'You are an academic rubric parser. Extract the following from this rubric PDF text:\\n- programme (degree/diploma name)\\n- module_name\\n- nqf_level (number or null)\\n- assessment_type (e.g. \"Summative Assessment 2\")\\n- total_marks (number)\\n- questions: array of {number, title, marks, criteria: string[]}\\n\\nReturn ONLY raw JSON. Example:\\n{\\n  \"programme\": \"Bachelor of Commerce\",\\n  \"module_name\": \"Business Management 1B\",\\n  \"nqf_level\": 7,\\n  \"assessment_type\": \"Summative Assessment 2\",\\n  \"total_marks\": 100,\\n  \"questions\": [\\n    {\"number\": 1, \"title\": \"Discuss leadership theories\", \"marks\": 25, \"criteria\": [\"Knowledge of theories\", \"Critical analysis\", \"Application\"]}\\n  ]\\n}\\n\\nHere is the rubric text:\\n\\n' + $json.rubric_text }]) }}"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "h1000001-0001-0001-0001-000000000008",
      "name": "Claude AI Parse Rubric",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "functionCode": "const claudeResponse = items[0].json;\nconst prevData = $node['Prepare Claude Prompt'].json;\n\n// Extract JSON from Claude's response\nlet responseText = '';\nif (claudeResponse.content && claudeResponse.content[0]) {\n  responseText = claudeResponse.content[0].text || '';\n}\n\n// Try to parse JSON from the response (strip markdown code fences if present)\nlet parsed = {};\ntry {\n  const jsonMatch = responseText.match(/```json\\s*([\\s\\S]*?)```/) || responseText.match(/```\\s*([\\s\\S]*?)```/);\n  const jsonStr = jsonMatch ? jsonMatch[1].trim() : responseText.trim();\n  parsed = JSON.parse(jsonStr);\n} catch (e) {\n  try {\n    parsed = JSON.parse(responseText.trim());\n  } catch (e2) {\n    parsed = { error: 'Failed to parse rubric', raw: responseText };\n  }\n}\n\n// Escape for SQL\nconst safeProgramme = (parsed.programme || '').replace(/'/g, \"''\");\nconst safeModuleName = (parsed.module_name || '').replace(/'/g, \"''\");\nconst safeAssessmentType = (parsed.assessment_type || '').replace(/'/g, \"''\");\nconst safeFilename = (prevData.filename || '').replace(/'/g, \"''\");\nconst safeParsedJson = JSON.stringify(parsed).replace(/'/g, \"''\");\n\nreturn [{\n  json: {\n    token_id: prevData.token_id,\n    token_code: prevData.token_code,\n    programme: safeProgramme,\n    module_name: safeModuleName,\n    nqf_level: parsed.nqf_level || null,\n    assessment_type: safeAssessmentType,\n    total_marks: parsed.total_marks || 0,\n    parsed_json: safeParsedJson,\n    original_filename: safeFilename,\n    parsed_raw: parsed\n  }\n}];"
      },
      "id": "h1000001-0001-0001-0001-000000000009",
      "name": "Parse Claude Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1780, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ \"INSERT INTO rubrics (programme, module_name, nqf_level, assessment_type, total_marks, parsed_json, original_filename, confirmed) VALUES ('\" + $json.programme + \"', '\" + $json.module_name + \"', \" + ($json.nqf_level ? $json.nqf_level : 'NULL') + \", '\" + $json.assessment_type + \"', \" + $json.total_marks + \", '\" + $json.parsed_json + \"', '\" + $json.original_filename + \"', false) RETURNING id;\" }}",
        "additionalFields": {}
      },
      "id": "h1000001-0001-0001-0001-000000000010",
      "name": "Insert Rubric",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [2000, 200],
      "credentials": {
        "postgres": {
          "id": "RwGl9RX2FyWfj4I7",
          "name": "BeeGraded Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ \"UPDATE tokens SET rubric_id = \" + $json.id + \" WHERE id = \" + $node['Parse Claude Response'].json.token_id + \";\" }}",
        "additionalFields": {}
      },
      "id": "h1000001-0001-0001-0001-000000000011",
      "name": "Update Token Rubric",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [2220, 200],
      "credentials": {
        "postgres": {
          "id": "RwGl9RX2FyWfj4I7",
          "name": "BeeGraded Postgres"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ rubric_id: $node['Insert Rubric'].json.id, parsed: $node['Parse Claude Response'].json.parsed_raw }) }}",
        "options": {}
      },
      "id": "h1000001-0001-0001-0001-000000000012",
      "name": "Respond Rubric",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2440, 200]
    }
  ],
  "connections": {
    "Webhook Rubric Upload": {
      "main": [[{ "node": "Parse Form Data", "type": "main", "index": 0 }]]
    },
    "Parse Form Data": {
      "main": [[{ "node": "Validate Token", "type": "main", "index": 0 }]]
    },
    "Validate Token": {
      "main": [[{ "node": "Token Valid?", "type": "main", "index": 0 }]]
    },
    "Token Valid?": {
      "main": [
        [{ "node": "Extract PDF Text", "type": "main", "index": 0 }],
        [{ "node": "Respond Invalid Token", "type": "main", "index": 0 }]
      ]
    },
    "Extract PDF Text": {
      "main": [[{ "node": "Prepare Claude Prompt", "type": "main", "index": 0 }]]
    },
    "Prepare Claude Prompt": {
      "main": [[{ "node": "Claude AI Parse Rubric", "type": "main", "index": 0 }]]
    },
    "Claude AI Parse Rubric": {
      "main": [[{ "node": "Parse Claude Response", "type": "main", "index": 0 }]]
    },
    "Parse Claude Response": {
      "main": [[{ "node": "Insert Rubric", "type": "main", "index": 0 }]]
    },
    "Insert Rubric": {
      "main": [[{ "node": "Update Token Rubric", "type": "main", "index": 0 }]]
    },
    "Update Token Rubric": {
      "main": [[{ "node": "Respond Rubric", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}